@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@300;400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');

/* Splash Page */
.splash-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
}
#splash-img{
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
}

#wefarm{
    text-align: center;
    color: rgb(206, 169, 21);
    font-family:'Inconsolata';
    font-weight: 600;
    font-size: 75px;
}

/* game */
body{
  padding-top: 50px;
  display: block;
  margin-left: auto;
  margin-right:auto;
  background-image: url('/assets/images/fence.png');
  background-repeat: repeat-x;
  background-position: bottom;
  background-size: 150px;
}
.container {
    background: rgb(255, 255, 255);
    display: inline-block;
    border: 5px solid rgb(242, 213, 192);
    box-shadow: rgba(180, 52, 52, 0.554);
    border-radius: 5px ;
    margin-top: 60px;
    margin-left: 33.5%;
    margin-right:25%;

  }
  .grid{
    display: grid;
    grid-template-columns: repeat(3, 150px);
    grid-template-rows: repeat(3, 150px);
    grid-gap: 0px;
  }
  .item {
    justify-content: center;
    align-items: center;
    display: flex;
    background: white;
  }
  .item img{
    position: absolute;
    width: 150px;
  }
  .above{
    z-index: 1;
    position: absolute;

  }
  .container2 {
    background: black;
    display: inline-block;
    border: 5px solid black;
    margin-left: 85%;
    
  }
  .grid2{
    display: grid;
    grid-template-columns: repeat(3, 50px);
    grid-template-rows: repeat(1, 50px);
    grid-gap: 25%;
    margin-left: 15%;
    margin-right:15%;
    padding: 10px;
  }
  .item2 {
    justify-content: center;
    align-items: center;
    display: flex;
  }
  .item2 img{
    width: 45px;
  }
  .points{
    text-align: left;
    color: rgb(206, 169, 21);
    font-family:'Inconsolata';
    /* margin-left: 10px; */
    padding-left: 10px;
    font-weight: 600;
    font-size: 20px;
  }
  #water, #seeds, #farming{
    z-index: 2;
  }